* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

:root {
  --gap: 1.5rem;
  --board-size: 80vw;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#game-info {
  display: flex;
  justify-content: space-evenly;
}

.player-info {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

#board {
  width: var(--board-size);
  height: var(--board-size);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
}

.row {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--gap);
  width: calc(var(--board-size)/4);
  height: calc(var(--board-size)/4);
  border: 3px solid black;
}

.cell:hover {
  box-shadow: 5px 5px 5px gray;
}

.x {
  background-image: url(../x.svg);
  background-size: contain;
}

.o {
  background-image: url(../o.svg);
  background-size: contain;
}

input {
  border: 0;
  appearance: none;
}

.name-label {
  width: 5rem;
}

.player-info>ul>li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 2rem;
}

input[type=radio] {
  background-image: url(../o.svg);
  background-size: contain;
}

input[type=radio]:checked {
  background-image: url(../x.svg);
}

input[type=radio]:hover {
  box-shadow: 3px 3px 5px black;
}

#player-one-mark, #player-two-mark {
  width: 2rem;
  height: 2rem;
}

#start-game-btn {
  width: calc(var(--board-size)/3);
  height: calc(var(--board-size)/9);
}